.nav {
    grid-area: nav;
    background-color: rgba(69, 52, 105, 0.45);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}