.descriptionBlock {
    padding: 10px;
    max-width: 600px;
    width: 100%;
}

.mainPhoto {
    max-width: 100%;
    height: auto;
}

.button {
    width: 100%;
    max-width: 200px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    background-color: greenyellow;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #F35C16FF;
}

.contact {
    padding-left: 10px;
}

.info {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 200px;
}

.contacts > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contacts > div b {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .descriptionBlock {
        padding: 10px;
    }

    .info {
        max-width:90%;
        font-size: 16px;
    }
    .contacts {
        max-width: 100%;
    }
}