.descriptionBlock {
    padding: 10px;
    width: 100%;
}

.mainPhoto {
    max-width: 200px;
    height: 200px;
}

.button {
    max-width: 60px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    background-color: greenyellow;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #F35C16FF;
}

.contact {
    padding-left: 10px;
}

.info {
    width:100%;
}

@media (max-width: 767px) {
    .info {
        font-size: 14px;
    }
}