.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
          'header header'
          'nav content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    height: 100vh;
    overflow-x: hidden;
}

.app-wrapper-content {
    grid-area: content;
    background-color: rgba(203, 178, 208, 0.19);
    -webkit-box-shadow: 3px 5px 43px 17px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 5px 43px 17px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 5px 43px 17px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 768px) {
    .app-wrapper {
        grid-template-areas:
      'header'
      'nav'
      'content';
        grid-template-columns: 1fr;
    }
}







